.navbar {
    background-color: #1A237E;
}

.navbar-brand {
    scale: 0.6;
    margin: 0px -10px 0px -20px;
}

.nav-link {
    color: white;
    font-weight: lighter;
    margin-right: 10px;
    margin-left: 10px;
}

#navbarNav {
    margin-right: 40px;
}

.nav-link:hover {
    color: #C8CDFF;
}