<h2 class="text-left m-5" style="font-weight: lighter;">Hello world!</h2>
<div class="container">
    <div class="text">At our automotive workshop, we provide comprehensive services to keep your vehicle
        running smoothly and efficiently. Our team of skilled technicians is equipped with the latest tools
        and expertise to handle a wide range of automotive repairs and maintenance tasks. From routine oil
        changes and tire rotations to complex engine diagnostics and electrical repairs, we offer top-quality
        service tailored to meet your vehicle's needs. With a focus on customer satisfaction, we strive
        to deliver exceptional workmanship and transparent communication. Trust our automotive workshop
        for reliable and professional service that will keep you safely on the road.</div>
    <div class="image">
        <img src="assets/contact-cars.PNG" alt="Contact cars image">
    </div>
</div>
<app-question-answer></app-question-answer>
