<h2 class="text-left m-5" style="font-weight: lighter;">Hello world!</h2>
<div class="container">
    <div class="text">At our automotive workshop, we provide comprehensive services to keep your vehicle
        running smoothly and efficiently. Our team of skilled technicians is equipped with the latest tools
        and expertise to handle a wide range of automotive repairs and maintenance tasks. From routine oil
        changes and tire rotations to complex engine diagnostics and electrical repairs, we offer top-quality
        service tailored to meet your vehicle's needs. With a focus on customer satisfaction, we strive
        to deliver exceptional workmanship and transparent communication. Trust our automotive workshop
        for reliable and professional service that will keep you safely on the road.</div>
    <div class="image">
        <img src="assets/contact-cars.PNG" alt="Contact cars image">
    </div>
</div>
<app-question-answer></app-question-answer>
<h2 class="text-left m-5" style="font-weight: lighter; margin-top: -60px;">Informations</h2>
<div class="authors-container">
    <div class="text" style="margin-left: 40px;">
        <ul>
            <li>Author: Piotr Jończyk</li>
            <li>Index number: 128061</li>
            <li>Course: Tworzenie serwisów web 2.0</li>
            <li>Department: Wydział Inżynierii Mechanicznej i Informatyki</li>
            <li>University of Technology: Politechnika Częstochowska</li>
        </ul>
    </div>
    <div class="map-image">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5695.977108561887!2d19.107018129759386!3d50.82361255926337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710b6800631f1eb%3A0xe83162ed90ea1b1d!2sKatedra%20Informatyki%2C%20Wydzia%C5%82%20In%C5%BCynierii%20Mechanicznej%20i%20Informatyki%2C%20Politechnika%20Cz%C4%99stochowska!5e0!3m2!1spl!2spl!4v1685902735934!5m2!1spl!2spl"
            width="800" height="400" style="border:0;" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>