<h2 class="text-left m-5" style="font-weight: lighter;">All registered cars</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>VIN</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year of Production</th>
                <th>Task Type</th>
                <th>Status</th>
                <th>More Options</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let car of cars$ | async" [ngClass]="getStatusClass(car.status)">
                <td>{{car.vin}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.model}}</td>
                <td>{{car.year_of_production}}</td>
                <td>{{car.task_type}}</td>
                <td>{{car.status}}</td>
                <td>
                    <button class="btn btn-secondary me-1" [disabled]="!car.description"
                        (click)="openDescriptionModal(car.description)">View Description</button>
                    <button class="btn btn-primary me-2" [routerLink]="['edit/', car._id]">Edit</button>
                    <button class="btn btn-danger"
                        (click)="deleteCar(car._id ? car._id.toString() : '')">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <button class="btn btn-success mt-3" [routerLink]="['new']">Add a New Car</button>
</div>