.questions {
    margin-top: -60px;
    border-top: 1px solid #1A237E;
    width: 100%;
}

.question-container {
    margin-top: -20px;
}

.question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: lighter;
}

.question:hover {
    background-color: #EDEEFF;
    transition: 250ms;
}

.answer {
    padding: 10px;
    background-color: #F3F4FC;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.answer-text {
    font-weight: lighter;
    color: #1A237E;
}

.fa {
    color: #1A237E;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.fa-chevron-down {
    transform: rotate(180deg);
}

.answer.show {
    display: block;
}