<footer class="footer footer-expand-lg">
    <div class="footer-content">
        <div class="social-media-icons">
            <button class="buttons" mat-icon-button (click)="redirectToFacebook()">
                <i class="fab fa-facebook"></i>
            </button>
            
            <button class="buttons" mat-icon-button (click)="redirectToTwitter()">
                <i class="fab fa-twitter"></i>
            </button>
            
            <button class="buttons" mat-icon-button (click)="redirectToInstagram()">
                <i class="fab fa-instagram"></i>
            </button>
        </div>
        <div class="footer-text">
            <p>&copy; 2023 Automotive Workshop. All rights reserved.</p>
        </div>
    </div>
</footer>