<div class="profile">
    <!-- <h2 class="text-left m-5" style="font-weight: lighter;">Welcome, {{ user.firstName }}!</h2>

    <h2>Personal Information</h2>
    <ul>
        <li><strong>Firstname:</strong> {{ user.firstName }}</li>
        <li><strong>Surname:</strong> {{ user.lastName }}</li>
        <li><strong>E-mail Address:</strong> {{ user.emailAddress }}</li>
        <li><strong>Phone number:</strong> {{ user.phoneNumber }}</li>
    </ul> -->

    <!-- <h2>Cars</h2>
    <table>
        <thead>
            <tr>
                <th>VIN</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year of Production</th>
                <th>Task Type</th>
                <th>Status</th>
                <th>More Options</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="userCars && userCars.length > 0; else noCars">
                <tr *ngFor="let car of userCars">
                    <td>{{car.vin}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.year_of_production}}</td>
                    <td>{{car.task_type}}</td>
                    <td>{{car.status}}</td>
                </tr>
            </ng-container>
            <ng-template #noCars>
                <tr>
                    <td colspan="3">No cars found.</td>
                </tr>
            </ng-template>
        </tbody>
    </table> -->
</div>